.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CED3CD;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }

  figcaption {
    font-family: "Zen Loop", cursive;
    background-color: #c5b496;
    padding: 20px 0;
    border-radius: 50px 0;
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
  }

  div {
    position: relative;
    top: -20px;
  }
}

.title {
  font-size: 64px;
}

.titleTwo {
  margin: 0;
  font-size: 36px;
}

.dropdown {
  background-color: #829b97;
  width: 300px;
  margin: 1rem auto;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1.2rem;
}
