.infoSection{
    background-color: #33626C;
    color: white;
    padding: 2rem;
    border-radius: 30px 0 30px 0;
    margin-top: -30px;

    & h2 {
        font-size: 4rem;
        font-weight: 400;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
}