footer {
    background-color: #2A4F57;
    padding: 5rem;
}

.SoMe {
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
    gap: 20px;

    & img {
        filter: invert(50);
        width: 50px;
    }
}

.gittes {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    font-family: "Zen Loop";

    
    img {
        width: 40px;
    }
}