.stay {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: -50px;
  }

  figcaption {
    font-family: "Zen Loop", cursive;
    background-color: #c5b496;
    padding: 20px 0;
    border-radius: 50px 0;
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
  }

  div {
    position: relative;
    top: -40px;

    & button {
        padding: 10px 40px;
    }
  }
}

.title {
  font-size: 64px;
}

.titleTwo {
  margin: 0;
  font-size: 36px;
}
