.header {
    display: flex;
    flex-direction: column;
    background-image: url(C:\Users\morte\OneDrive\Skrivebord\Hovedforløb-node-js\gittes-glamping\src\assets\Gittes_Glamping_Assets\image_00.jpg);
    background-blend-mode: hue;
    background-color: rgba(0, 0, 0, 0.4);
    ;
    align-items: center;
    gap: 10px;
    height: 50vh;
    justify-content: center;

}

img {
    width: 72px;
}