.burger {
  background-color: #839B97;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 15px 0px;
}

.burger img {
  width: 30px;
  z-index: 2;
  position: relative;
}

.burgerMenu {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.burgerMenuActive {
  transform: translateY(0);
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-block: 4rem;
  line-height: 50px;
}

.burgerMenuActive a {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

.navLinks {
  list-style: none;
  margin: 0;
  padding: 1rem;
  background: #849B97;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.navLinksActive {
  transform: translateY(0);
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-block: 4rem;
  line-height: 50px;
}

.navLinksActive a {
  text-decoration: none;
  color: white;
}
