.infoSection {
  background-color: #33626c;
  padding: 100px 10px;
  border-radius: 20px 0;
  position: relative;
  top: -20px;

  h2 {
    margin: 20px 0;
    font-size: 64px;
  }

  p {
    margin: 30px 0;
  }

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
}

.includes {
  padding-bottom: 40px;
}

.price {
  font-size: 1.7rem;
}

.includes {
  line-height: 25px;
}
